.article {
  width: calc(100% / 3 - 22px);
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.article__button{
  display: flex;
  justify-content: space-around;


}